// Use https://www.schemecolor.com/matrix-blue.php

$primary-background: #080808;
$secondary-background: #2ecc71;
$tertiary-background: #2b2b2e;
$quaternary-background: #111111;

$primary-foreground: #2ecc71;
$secondary-foreground: #d5f5e2;
$tertiary-foreground: #95e7b8;
$quaternary-foreground:#c6f2d9;

$sb-track: #19191a8b;
$sb-thumb: #c6f2d9;

$tooltip-background: #12522d;
$tooltip-foreground: #c6f2d9;