// Use https://www.schemecolor.com/matrix-blue.php

$primary-background: #080808;
$secondary-background: #4AB8F9;
$tertiary-background: #2b2b2e52;
$quaternary-background: #1111128b;

$primary-foreground: #4AB8F9;
$secondary-foreground: #D6FEFF;
$tertiary-foreground: #FAFAD2;
$quaternary-foreground:#A5FFFF;

$sb-track: #19191a8b;
$sb-thumb: #A5FFFF;

$tooltip-background: #4AB8F98b;
$tooltip-foreground: #A5FFFF;