@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

@font-face {
  // font-family: "aeogo";
  font-family: 'aeogo';
  src: url('/fonts/aeogo_pixellated/font.woff2') format('woff2'),
    url('/fonts/aeogo_pixellated/font.woff') format('woff'),
    url('/fonts/aeogo_pixellated/font.ttf') format('truetype'),
    url('/fonts/aeogo_pixellated/font.svg#font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PixelifySans'; /* Ensure name matches usage */
  src: url('/fonts/PixelifySans/font.woff2') format('woff2'),
       url('/fonts/PixelifySans/font.woff') format('woff'),
       url('/fonts/PixelifySans/font.ttf') format('truetype'),
       url('/fonts/PixelifySans/font.svg#font') format('svg');  /* Include SVG for fallback */
  font-weight: normal;
  font-style: normal;
  font-display: swap;  /* Consider using fallback font if swap takes time */
}

@font-face {
  font-family: 'Paint'; /* Ensure name matches usage */
  src: url('/fonts/paint/font.woff2') format('woff2'),
       url('/fonts/paint/font.woff') format('woff'),
       url('/fonts/paint/font.ttf') format('truetype'),
       url('/fonts/paint/font.svg#font') format('svg');  /* Include SVG for fallback */
  font-weight: normal;
  font-style: normal;
  font-display: swap;  /* Consider using fallback font if swap takes time */
}


@import '@/styles/colors.scss';

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: "Paint";
  background-color: $primary-background;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $sb-track;
}

::-webkit-scrollbar-thumb {
  background: $sb-thumb;
  border-radius: 5px;
}

.circle {
  border-radius: 50%;
}

.tooltip {
  background-color: $tooltip-background;
  color: $tooltip-foreground;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border-radius: 5px;
}