@import '@/styles/colors.scss';

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: $primary-background;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: $sb-track;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $sb-thumb;
    border-radius: 5px;
  }

.circle {
    border-radius: 50%;
  }

.tooltip {
  background-color: $tooltip-background;
  color: $tooltip-foreground;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border-radius: 5px;
}